* { margin: 0 ; padding: 0; box-sizing: border-box; }

body, html {
    overflow-x: hidden;
    overflow-y: auto;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  background-color: #fff;
}

h1, h2, h3, h4, h5 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
}

.zoned {
  margin: 0 auto;
  padding: 10px;;
}

.header {
  padding: 30px 0;
  // border-bottom: 1px solid #c3c3c3;
  text-align: center;
  color: #fff;
  font-size: 2em;
}

.header__icon {
  float: left;
  display: inline-block;
  margin: 4px 0 0 3px;
  font-size: 2em;
  color: #6c6c6c;
}
.logo {
  display: block;
  margin: 0 auto;
}
button,
input {
  font-family: 'Raleway', sans-serif;
  background-color: #fff;
  color: #3d3d3d;
  display: block;
  padding: 0.5em;
  font-size: 1em;
  width: 100%;
  font-weight:800;
  color: red;
  text-transform: uppercase;;
  text-align: center;
  border: 1px solid #efefef;
}

button:focus,
input:focus {
  outline-width: 0;
}


.search {
  padding: 5px;
  position: relative;
}

.search__input {
  margin: 0;
  width: 100%;
}




ul {
  list-style-type: none;
}

.zone__name {
  font-weight: 100;
  text-align: center;

  &:nth-of-type(1) {
    font-size: 1.5em;
  }
  &:nth-of-type(2) {
    font-size: 2.5em;
  }
  &:nth-of-type(3) {
    font-size: 1.25em;
  }
}

.zone__time {
  margin: 40px auto 0;
  font-size: 3em;
  font-weight: 800;
  text-align: center;
  background-color: rgba(#fff, 0.8);
  padding: 30px;
  max-width: 700px;
  width: 100%;
}
.zone__date {
  margin: 5px auto;
  padding: 10px;
  background-color: rgba(#fff, 0.8);
  font-size: 2em;
  font-weight: 100;
  text-transform: uppercase;
  text-align: center;
  max-width: 700px;
  width: 100%;
}



.zoned__clock {
  position: fixed;
  top: 0; bottom: 0; right: 0; left: 0;
  // background-color: #efefef;
  z-index: -1;
}

.zoned__clock--minute {
  position: absolute;
  top: -30vh;
  height: 80vh;
  width: 10px;
  background-color: #dfdfdf;
  left: 49.5vw;
  transform-origin: 0 0;
  transform-origin: bottom center;
  transition: 200ms transform;
  border-radius: 0 0% 20px 20px;
}
.zoned__clock--hour {
  position: absolute;
  top: 10vh;
  height: 40vh;
  width: 15px;
  background-color: #dedede;
  left: 49vw;
  transform-origin: bottom center;
  transition: 200ms transform;
  border-radius: 0 0% 20px 20px;
}
.zoned__clock--second {
  position: absolute;
  top: -50vh;
  height: 100vh;
  width: 5px;
  background-color: #e3e3e3;
  left: 49.75vw;
  transform-origin: bottom center;
  transition: 200ms transform;
  border-radius: 0 0% 20px 20px;
}
