* { margin: 0 ; padding: 0; box-sizing: border-box; }

body, html {
    overflow-x: hidden;
    overflow-y: auto;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  background-color: #fff;
}

h1, h2, h3, h4, h5 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
}

.zoned {
  margin: 0 auto;
  padding: 10px;;
}

.header {
  padding: 30px 0;
  // border-bottom: 1px solid #c3c3c3;
  text-align: center;
  color: #fff;
  font-size: 2em;
}

.header__icon {
  float: left;
  display: inline-block;
  margin: 4px 0 0 3px;
  font-size: 2em;
  color: #6c6c6c;
}
.logo {
  display: block;
  margin: 0 auto;
}
button,
input {
  font-family: 'Raleway', sans-serif;
  background-color: #fff;
  color: #3d3d3d;
  display: block;
  padding: 0.5em;
  font-size: 1em;
  width: 100%;
  font-weight:800;
  color: red;
  text-transform: uppercase;;
  text-align: center;
  border: 1px solid #efefef;
}

button:focus,
input:focus {
  outline-width: 0;
}


.search {
  padding: 5px;
  position: relative;
}

.search__input {
  margin: 0;
  width: 100%;
}




ul {
  list-style-type: none;
}

.zone__name {
  font-weight: 100;
  text-align: center;

  &:nth-of-type(1) {
    font-size: 1.5em;
  }
  &:nth-of-type(2) {
    font-size: 2.5em;
  }
  &:nth-of-type(3) {
    font-size: 1.25em;
  }
}

.zone__time {
  margin: 40px auto 0;
  font-size: 3em;
  font-weight: 800;
  text-align: center;
  background-color: rgba(#fff, 0.8);
  padding: 30px;
  width: 100%;
  position: absolute;
  bottom: calc(1.5em);
}
.zone__date {
  padding: 10px;
  background-color: rgba(#fff, 0.8);
  font-size: 2em;
  font-weight: 100;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 0;
}



.zoned__clock {
  position: fixed;
  top: 0; bottom: 0; right: 0; left: 0;
  background-color: #efefef;
  z-index: -1;
}
.zoned__clock__hand {
  position: absolute;
  top: -150vh;
  height: 200vh;
  transform-origin: bottom center;
  transition: 200ms transform;
  &:after {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: -25px;
    z-index: -1;
    background-color: white;
  }
}
.zoned__clock__hand--minute {
  width: 10px;
  left: calc(50vw - 5px);
  border-right: 1px solid #5998C5;
  border-left: 1px solid #5998C5;
  background-color: rgba(lighten(#5998C5, 20), 6);
  &:after {
    left: -20px;
    // border: 1px solid #5998C5;
    // background-color: white;
  }
}
.zoned__clock__hand--hour {
  width: 20px;
  left: calc(50vw - 10px);
  border-right: 1px solid #A8201A;
  border-left: 1px solid #A8201A;
  background-color: rgba(lighten(#A8201A, 10), 6);
  &:after {
    left: -15px;
    // border: 1px solid #A8201A;
    // background-color: white;
  }
}
.zoned__clock__hand--second {
  width: 5px;
  left: calc(50vw - 2.5px);
  border-right: 1px solid #333;
  border-left: 1px solid #333;
  background-color: rgba(lighten(#333, 10), 6);
  &:after {
    left: -22.5px;
    // border: 1px solid #333;
    // background-color: white;
  }
}
